.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  margin: 100px 0;

  @media screen and (max-width: 992px) { /* Tablet */
    grid-template-columns: repeat(3, 1fr);
  }
  
  @media screen and (max-width: 768px) { /* Mobile */
    grid-template-columns: repeat(2, 1fr);
  }
}

.product {
  text-align: center;
  background-color: #fafafa;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  position: relative;

  &__title {
    min-height: 75px;
  }

  &__button--details {
    width: 50%;
    margin: auto;
    padding: 10px;
    background-color: #333;
    color: white;
    font-weight: bold;
    border: 0;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 5px;
  }

  &__button--add-to-cart {
    width: 50%;
    margin: auto;
    padding: 10px;
    background-color: red;
    color: white;
    font-weight: bold;
    border: 0;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 5px;
  }

  &__price {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #333;
    color: white;
    font-weight: bold;
    font-size: 20px;

    @media (max-width: 767px) {
      font-size: 15px;
    }
  }

  &__category {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #666;
    color: white;
    font-size: 12px;

    @media (max-width: 767px) {
      font-size: 10px;
    }
  }

  &__image {
    width: 100%;
  }
}